*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: #222;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

body.dark {
  color: #fff;
  background-color: #222;
}

li { list-style: none; }

img {
  width: 100%;
  max-width: 100%;
}

a { 
  text-decoration: none;
  color: $link-color;
  transition: color .3s;
  &:hover {
    color: $link-highlight-color;
  }
}